/* common styles */
* {
    padding: 0;
    margin: 0;
    outline: 0;
}





/* header part start */
.banner-container {
    background-image: url(../assets/banner/banner3.png);
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.banner-content {
    max-width: 525px;
    margin-right: 250px;
    text-align: end;
}

.banner-heading {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border: 0;
    transition: 0.6s;
}

.btn-primary:hover {
    background-color: rgb(227, 148, 10);
    color: #ffffff;
}

/* about-part start */

.about-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 150px;
    gap: 80px;
}

.about-img {
    width: 450px;
}

.about-description {
    max-width: 400px;
    margin-top: 24px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.details-item-about {
    list-style: none;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.about-content-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    max-width: 288px;
}

.details-item-about>i {
    color: green;
    margin: 8px 0;
    width: 24px;
    height: 24px;
}

/* plan part start */

.plan-title {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plan-item-container {
    display: flex;
    justify-content: space-around;
    padding: 150px 230px;
    gap: 100px;
}

/* watch part start */
.watch-part {
    background-image: url(../assets/gradient1.png), url(../assets/watch.png);
    height: 300px;
    width: 1100px;
    margin-bottom: 130px;
}

.watch-section {
    display: flex;
    justify-content: center;
}

.watch-title {
    margin: 60px 60px 0 60px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 500px;
}

.btn-watch {
    margin: 24px 60px;
}

/* footer part start */

.footer-container {
    background-color: #151414;
    display: flex;
    justify-content: space-around;
    height: 550px;
    align-items: center;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 485px;
    margin: 16px 0;
}

.footer-link a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.social-icon-container {
    display: flex;
    justify-content: space-around;
    max-width: 175px;
}

.footer-link {
    margin: 15px 0;
}

.footer-link>a {
    text-decoration: none;
}

.social-icon {
    height: 30px;
    width: 30px;
}

.form-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.footer-input {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #151414;
    border: 1px solid white;
    margin: 15px 0;
    color: white;
}

.footer-btn {
    display: block;
    border-radius: 8px;
    background: #005FAC;
    color: white;
}